{% include 'admin/header.html' %}
<br><br><br>
	<table align="center" style="width: 1000px">
		<h2 align="center">Manage Hotel</h2>
		<tr>
			<th>Hotel Name</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>phone</th>
			<th>Email</th>
		</tr>
		<tbody>
			{% for row in data['viewhotel'] %}
			<tr>
				<td>{{row['hotel_name']}}</td>
				<td>{{row['latitude']}}</td>
				<td>{{row['longitude']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
			{% if row['usertype']=="pending" %}
			<td><a href="/admin/hotelaccept?id={{row['login_id']}}">Accept</a></td>
			{% endif %}

			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% include 'public/footer.html' %}