{% include 'admin/header.html' %}
<h2 align="center">view Volnteer</h2>
	<table align="center" style="width: 1000px">
		<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Age</th>
			<th>phone</th>
			<th>Email</th>
		</tr>
		<tbody>
			{% for row in data['viewvol'] %}
			<tr>
				<td>{{row['Name']}}</td>
				<td>{{row['gender']}}</td>
				<td>{{row['age']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
{% include 'public/footer.html' %}